[project]
	description = Automatically exported from code.google.com/p/google-tv-remote
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sagarheroor
[access "refs/for/refs/*"]
	read = group user/sagarheroor
	push = group user/sagarheroor
	label-Code-Review = -2..+2 group user/sagarheroor
	label-Verified = -1..+1 group user/sagarheroor
	rebase = group user/sagarheroor
	removeReviewer = group user/sagarheroor
	submit = group user/sagarheroor
[access "refs/heads/*"]
	read = group user/sagarheroor
	create = group user/sagarheroor
	push = +force group user/sagarheroor
	pushMerge = group user/sagarheroor
[access "refs/tags/*"]
	push = +force group user/sagarheroor
	pushTag = group user/sagarheroor
	pushSignedTag = group user/sagarheroor
